doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")
  body 
    #pageWrapper
      .container 
        h1 Hi, I`m modal window!!!
        .btns-panel
          |
          |
          // MODAL TRIGGER BUTTON
          button.btn.btn_blue.js-modal-trigger(data-target="callback-modal", data-duration="350") Open modal 1
          // /MODAL TRIGGER BUTTON
          |
          |
          // MODAL TRIGGER BUTTON
          button.btn.btn_red.js-modal-trigger(data-target="callback2-modal", data-duration="350") Open modal 2
          // /MODAL TRIGGER BUTTON

    |
    |
    // MODAL
    .modal#callback-modal
      .modal__inner
        button.modal__close 

        .modal__content
          .modal__header
            h2 This is modal 1 heading
          .modal__body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
    // /MODAL
    |
    // MODAL
    .modal#callback2-modal
      .modal__inner
        button.modal__close 

        .modal__content
          .modal__header
            h2 This is modal 2 heading
          .modal__body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut modi quaerat facere harum eos distinctio qui aperiam a inventore sed libero, iste eaque, vero esse! A corrupti hic qui quo, laborum quisquam nesciunt quam, ut delectus iure nobis. Id magnam architecto doloremque. Placeat exercitationem voluptates blanditiis rem ad cupiditate laboriosam impedit, quia quasi. Commodi.
    // /MODAL
    |
    |


    script(src="js/app.dev.js") 