-

  //- ОБЪЕКТ МЕНЮ С ПУНКТАММИ, НЕ ВЕДУЩИМИ НА ДРУГИЕ СТРАНИЦЫ
  let menu = {
    menuItem1: {
      name: 'пункт1',
      url: '#',
    },
    menuItem2: {
      name: 'пункт2',
      url: '#',
    },
    menuItem3: {
      name: 'пункт3',
      url: '#',
    },
    menuItem4: {
      name: 'пункт4',
      url: '#',
    },
    menuItem5: {
      name: 'пункт5',
      url: '#',
    },
  };


 //- ОБЪЕКТ МЕНЮ С ПУНКТАММИ, ВЕДУЩИМИ НА ДРУГИЕ СТРАНИЦЫ, используется для прописывания данных в голове страницы, а также для указания текущего пункта меню для соответствующей страницы
  let pages = {
    index: {
      name:   'главная',
      url: '#',
      title:  'Главная - Название компании',
      descr:  'Краткое описание главной страницы',
      author:  author,
    },
    page2: {
      name:   'О компании',
      url: '#about',
      title:  'Проект - вторая',
      descr:  'Краткое описание страницы-2',
      author:  author,
    },
    page3: {
      name:   'Условия договора',
      url: '#consult',
      title:  'Проект - третья',
      descr:  'Краткое описание страницы-3',
      author:  author,
    },
    page4: {
      name:   'Реквизиты',
      url: '#requisites',
      title:  'Проект - четвертая',
      descr:  'Краткое описание страницы-4',
      author:  author,
    },
    'page-grid-test': {
      name:   'Контакты',
      url: '#location',
      title:  'Проект - Grid-Test',
      descr:  'Страница для разработки и тестирования сетки',
      author:  author,
    },
  };